/* CSS reset */

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Prevent font size inflation */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
    line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
    text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
    min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
    scroll-margin-block: 5ex;
}


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #000;
}

h1 {
    font-size: 2em;
    margin-bottom: 30px;
    color: yellow;
    font-family: "Retro Gaming";
    border: 2px solid #88be19;
    padding: 10px;
    border-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cstyle%3Epath%7Banimation:stroke 5s infinite linear%3B%7D%40keyframes stroke%7Bto%7Bstroke-dashoffset:776%3B%7D%7D%3C/style%3E%3ClinearGradient id='g' x1='0%25' y1='0%25' x2='0%25' y2='100%25'%3E%3Cstop offset='0%25' stop-color='%232d3561' /%3E%3Cstop offset='25%25' stop-color='%23c05c7e' /%3E%3Cstop offset='50%25' stop-color='%23f3826f' /%3E%3Cstop offset='100%25' stop-color='%23ffb961' /%3E%3C/linearGradient%3E %3Cpath d='M1.5 1.5 l97 0l0 97l-97 0 l0 -97' stroke-linecap='square' stroke='url(%23g)' stroke-width='3' stroke-dasharray='388'/%3E %3C/svg%3E") 1;
}

/* header {
    display: flex;
} */

h2 {
    font-size: 1.5em;
    margin-bottom: 30px;
    color: #88be19;
    font-family: "Retro Gaming";
}

.board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2px;
    margin-bottom: 5rem;

}

.cell {
    width: 110px;
    height: 110px;
    border: 1px solid yellow;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4.5rem;
    cursor: pointer;
    font-family: "Retro Gaming";
    color: blue;
}

.cell:hover {
    background-color: #1a1b1c;
    opacity: 1.0;
}

h3 {
    border: 2px solid #88be19;
    color: #88be19;
    padding: 13px;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    text-align: center;
    font-family: "Retro Gaming";
    font-size: 20px;
}

.player-score {
    display: grid;
    padding: 5px;
    margin: 5px;
    font-family: "Retro Gaming";
}

.reset {
    margin-bottom: 6rem;
    color: #f55b1d;
    font-family: "Retro Gaming";
    background-color: #000;
    border-radius: 2rem;
    cursor: pointer;
}

#X-score,
#O-score {
    color: #88be19;
    font-family: "Retro Gaming";
    margin-left: 4rem;
}